*{
    margin:0;
    padding: 0;
    font-family: 'Martel', serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
  background: linear-gradient(rgba(54, 50, 50, 0.397), rgba(54, 50, 50, 0.397)), url(images/wed.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
    overflow: auto; /* Enable scrolling */
  }
  
  /* Hide the scroll bar */
  body::-webkit-scrollbar {
    width: 0.0em;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
.container{
    padding: 10px 10%;
}

#header{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(rgba(66, 66, 66, 0.419), rgba(0, 0, 0, 0.173)), url(images/bg1.jpg) no-repeat; */
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    }

nav{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 600;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 18px;
    border: none;
    font-weight: 600;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: transparent; 
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #00000000;}

.header-text{
    text-align: center;
    margin-top: 20%;
    color: white;
}

.header-text h1{
    font-size: 40px;
}


.header-text h2{
    margin: 20px;
}

/*----------------------services---------------------- */

.service #service-title{
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: bolder;
}


.container-service {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 50px 50px;
}

.container-service .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  cursor: pointer;
}

.container-service .card:hover {
  height: 300px;
}

.container-service .card .imgBx {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.container-service .card:hover .imgBx {
  top: -100px;
  scale: 0.75s;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container-service .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-service .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

.container-service .card:hover .content {
  top: 130px;
  height: 150px;
}

.container-service .card .content h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color);
}

.container-service .card .content a {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 12px 25px;
  background: rgb(255, 96, 96);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
}