*{
    margin:0;
    padding: 0;
    font-family: 'Martel', serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
  background: linear-gradient(rgba(58, 58, 58, 0.299), rgba(48, 47, 47, 0.655)), url(images/wed.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
    overflow: auto; /* Enable scrolling */
  }
  
  /* Hide the scroll bar */
  body::-webkit-scrollbar {
    width: 0.0em;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
.container{
    padding: 10px 10%;
}

#header{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(rgba(66, 66, 66, 0.419), rgba(0, 0, 0, 0.173)), url(images/bg1.jpg) no-repeat; */
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    }

nav{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 600;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 18px;
    border: none;
    font-weight: 600;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: linear-gradient(to right, #fffbd5, #b20a2c);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: transparent; 
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #00000000;}
  .arrow {
    position: relative;
    margin-left: 4px;
    top: -3px;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.header-text{
    text-align: center;
    margin-top: 20%;
    color: white;
}

.header-text h1{
    font-size: 40px;
}


.header-text h2{
    margin: 20px;
}

/*----------------------services---------------------- */

.service{
  background-color: rgba(0, 0, 0, 0.133);
}

.service #service-title{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bolder;
  padding: 30px 0 0 0;
}


.container-service {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 110px 50px;
  padding: 50px 50px;
}

.container-service .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 335px;
  height: 300px;
  background: linear-gradient(to right, #5b585862, #ffffff1f);
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  cursor: pointer;
}

.container-service .card:hover {
  height: 300px;
}

.container-service .card .imgBx {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.container-service .card:hover .imgBx {
  top: -100px;
  scale: 0.75s;
  box-shadow: 0 15px 45px rgba(88, 53, 53, 0.2);
}

.container-service .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-service .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

.container-service .card:hover .content {
  top: 130px;
  height: 150px;
}

.container-service .card .content h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color);
  color: white;
}

.container-service .card .content a {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 12px 25px;
  background: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
}



/* ----------gallery--------- */

input{
  display: none;
}


.conatiner-gallery{
  width: 100%;
  text-align: center;
}

.conatiner-gallery h1{
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
  color: white;
}

.conatiner-gallery h1::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: crimson;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  0%{
    width: 100px;
  }
  50%{
    width: 200px;
  }
  100%{
    width: 100px;
  }
}


.top-content{
  background-color: rgb(241, 240, 240);
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgrey;
}

h3{
  height: 100%;
  background-color: lightgray;
  line-height: 60px;
  padding: 0 50px;
  color: black;
}

label{
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  margin: 0 30px;
  line-height: 60px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition:color .5s;
}

label:hover{
  color: black;
}

.photo-gallery{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}


.pic{
  position: relative;
  height: 230px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px lightgray;
  cursor: pointer;
  transition: .5s;
}

.pic img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: .5s;
}

.pic::before{
  content: "PHOTO GALLERY";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: .3s;
  transition-delay: .2s;
  z-index: 1;
}


.pic::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: .3s;
}

.pic:hover::after{
  height: 100%;
}

.pic:hover::before{
  margin-top: 0;
  opacity: 1;
}

#check1:checked ~ .conatiner-gallery .photo-gallery .pic{
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: .5s;
}


#check2:checked ~ .conatiner-gallery .photo-gallery .family{
  opacity: 1;
  transform: scale(1);
  position: relative;
}

#check2:checked ~ .conatiner-gallery .photo-gallery .child,
#check2:checked ~ .conatiner-gallery .photo-gallery .place{
  opacity: 1;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}

#check3:checked ~ .conatiner-gallery .photo-gallery .child{
  opacity: 1;
  transform: scale(1);
  position: relative;
}

#check3:checked ~ .conatiner-gallery .photo-gallery .family,
#check3:checked ~ .conatiner-gallery .photo-gallery .place{
  opacity: 1;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}

#check4:checked ~ .conatiner-gallery .photo-gallery .place{
  opacity: 1;
  transform: scale(1);
  position: relative;
}

#check4:checked ~ .conatiner-gallery .photo-gallery .family,
#check4:checked ~ .conatiner-gallery .photo-gallery .child{
  opacity: 1;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}


/* -----------------contact--------------- */



#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}